/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 2;
  padding: 2;
}

body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
